<div>
 <mat-card> 
  <div class="row">
    <div class="col-xs-6 col-md-4">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="enter grocery items" [(ngModel)]="task" />
        <span class="input-group-btn">
          <button class="btn btn-primary" type="button" (click)="onClick()">
          <i class="glyphicon glyphicon-ok"></i>
          </button>
        </span>
     </div>
    </div>
  </div> 
 </mat-card> 
<br />
 <mat-card-content>
   <ul class="list-group">
    <li *ngFor="let task of tasks" class="list-group-item">
    <span> {{ task.name }} </span>
    </li>
   </ul>
 </mat-card-content>
</div>
    
    